{% extends "model.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
<div id="prorecord"></div>
<div class="container ">
<div class="col-md-8 col-md-offset-1"style="font-size:1.5em;">
<h2>Contact</h2><br>
<ul class="list-group">
<li class="list-group-item list-group-item-success">
<span style="color:black">
<span class="glyphicon glyphicon-home"></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Md Mehrab Alam<br><!--
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<sup>rd</sup>Year , Department of Computer Engg.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Faculty of Engg. , Jamia Millia Islamia,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Delhi PIN- 110025<br></b-->
<span class="glyphicon glyphicon-phone"><b>&nbsp;+91-9654835865</b><br><br>
<span class="glyphicon glyphicon-envelope"><b>&nbsp;<a href="mailto:info.oldbooks4u@gmail.com" style="color:black;">info.oldbooks4u@gmail.com</a></b><br>

</span>
</li>
</ul>
</div>
</div>
{% endblock %}