{% extends "model.html" %}
{% block title %}FAQ{% endblock %}
{% block body %}
<div id="prorecord"></div>
<div class="container">
<h1><u>FAQ</u>&nbsp;&nbsp;&nbsp;&nbsp;<small> Frequently Asked Questions</small></h1><br>
<div id="faq">
	<h3>What is http://oldbooks.pythonanywhere.com?</h3>
	<div>http://oldbooks.pythonanywhere.com is the Place where you can <b>post free ads of your books online for Rent/Sell</b> or contact person(s) if you like thier book(s).</div>
	<h3>How to Post free Ads ?</h3>
	<div>First, go to <a href="/" style="color:blue">home page</a> click on post free Ads and login (if you don't register/signup first).Then, click on submit ads button and fill upload form.......</div>
	<h3>How can i search books ?</h3>
	<div>First,click on <a href="/searchbox/" style="color:blue">search books</a> in navbar then type either title,auther or publisher name and change search by option or search in option....</div>
	<h3>How can i help you ?</h3>
	<div> You can help me by either giving <a href="#fedbk" role="button" data-toggle="modal" style="color:blue">feedbacks/suggestions</a> or by   <a href="/#here" style="color:blue">comments</a></div>
</div>
</div>
{% endblock %}
