{%extends "model.html" %}
{% block title %}Terms of use{% endblock %}
{% block body %}
<div class="container"  id="prorecord">
<div class="col-lg-offset-3 col-lg-6 back_box">
<span class=""><h1><b>Terms and Conditions</b></h1></span>
<b>Please read these Terms of Service ("Agreement", "Terms of Service") carefully</b> before using http://oldbooks.pythonanywhere.com ("the Site"). This Agreement sets forth the legally binding terms and conditions (including <a href="/privacypolicy/">Privacy Policy</a>) for your use of the Site at http://oldbooks.pythonanywhere.com.
<br><br>
By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service.  Terms are defined in this Agreement are ...
<br><br>
<!--<b>1. Intellectual Property</b><br>
<blockquote>The Site and its original content, features and functionality are owned by oldbooks.pythonanywhere.com and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</blockquote>
<br>-->
<b>1. Termination</b><br>
<blockquote>We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions,indemnity, and limitations of liability.</blockquote>
<br>
<b>2. Links To Other Sites</b><br>
<blockquote>Our Site may contain links to third-party sites that are not owned or controlled by oldbooks.pythonanywhere.com.

oldbooks.pythonanywhere.com has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</blockquote>
<br>
<b>3. Governing Law</b><br>
<blockquote>This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Delhi, India, without giving effect to any principles of conflicts of law.</blockquote>
<br>
<b>4. Changes To This Agreement</b><br>
<blockquote>We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.</blockquote>
<br>
Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.
<br>
Contact Us<br>
If you have any questions about this Agreement, please contact us.<br>
<br>
<br>
This document was last updated on July 23, 2014
</div>
</div>
{% endblock%}